include partials/header.pug
body
	.page-container
		img(src="assets/images/logo.png" alt="Black Gold Investment Platform" height="150" width="150")
		h1 Black Gold Investment Platform API
		p Start by checking the API docs #[a(href='/docs') HERE].
