doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="robots" content="noindex, nofollow nocached noimageindex")
    title African Travel Club API
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    style
      include ../assets/css/style.css
